@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue: #00a7df;
  --deepGray: #232323;
  --gray: #eceae6;
  --textColor: #292929;
  --lightText: #8f8f8f;
  --fontFamily: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
  --transition: 0.4s ease;
}
body {
  font-size: var(--font-size);
}
.m-right {
  margin-right: 5%;
}
.m-left {
  margin-left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-weight: 500;
  line-height: 1.2;
}
h3::after {
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background: var(--blue);
  margin: 10px 0;
}
.btn-blue {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: white;
  padding: 5px 30px;
}
.btn-blue:hover {
  background: white;
  transition: var(--transition);
  color: var(--blue);
}
.ml-6 {
  margin-left: 80px;
}
.headers {
  margin: 50px 0 !important;
  background-size: 250px;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.headers h2 {
  padding: 20px 0 !important;
  font-size: 2.2rem !important;
  font-weight: 500 !important;
}
/* navbar */

.bg-light {
  background: var(--gray) !important;
}

nav .border-right {
  border-right: 1px solid var(--blue) !important;
  padding-right: 30px;
}
.navbar-brand {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-left: 10% !important;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: none;
  color: black;
}
nav h1 {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
  font-weight: 300;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
nav h1 span {
  font-weight: bold;
  font-size: 1.2rem !important;
  letter-spacing: 8px;
}
nav h1 span .noSpace {
  letter-spacing: 0;
}
nav h1:hover {
  cursor: pointer;
}
.navbar-nav {
  justify-content: space-between !important;
  width: 90% !important;
}

.nav-link {
  padding: 0.7rem 1rem !important;
}
nav .navbar-nav a {
  font-size: 1rem;
  color: black !important;
  letter-spacing: 1px;
  font-weight: 500;
}
nav .navbar-nav a:hover {
  color: var(--lightText) !important;
  transition: var(--transition);
}
.nav-link:nth-child(4) {
  padding: 0.7rem 0rem 0.7rem 1rem !important;
}

.nav-link:first-child {
  border-left: 1px solid var(--blue);
  padding-left: 15% !important;
}
.nav-link:nth-child(3) {
  border-right: 1px solid var(--blue);
  padding-right: 15% !important;
}

nav .navbar-nav {
  display: flex;
  width: 600px !important;
}
.nav-item:last-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nav-item img {
  position: absolute;
  padding-top: 6px;
  right: 20px !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

/* header */
header {
  background: url(img/Header.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
header img {
  min-width: 150px;
  width: 12%;
}

/* SERVICES*/
.services {
  background: var(--blue);
}
.services article {
  margin: 30px 0;
}
.services .col-md-2,
.services .col-lg-2,
.services .col-sm-4 {
  padding-right: 10px;
  padding-left: 10px;
}
.services .wrapper {
  height: 130px;
  min-width: 166px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .border {
  border: 2px solid white !important;
  padding: 20px 10px;
}
.services article h4 {
  font-size: 1rem !important;
  font-weight: 600;
}
/* O nama */

.aboutUs hgroup {
  background: url(img/O\ nama.png);
}
.aboutUs hgroup h2 {
  font-weight: 500 !important;
  font-size: 2.2rem;
}
.aboutUs .container .row .col-md-6 h3 {
  font-weight: 400 !important;
}

/* CTA */
.cta {
  background: var(--deepGray);
}

.cta.py-5 {
  padding: 80px 0 !important;
}
.cta form input {
  background: var(--deepGray);
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 2px 5px;
  width: 283px !important;
  margin-right: 5px;
  font-size: 0.95rem;
}

.cta form button {
  background: var(--blue);
  border: 1px solid var(--blue);
  font-size: 0.95rem;
  padding: 2px 5px;
  width: 283px !important;
  margin-right: 5px;
}
.cta form button:hover {
  background: transparent;

  color: var(--blue);
  transition: var(--transition);
}

/* istorija */
.istorija {
  background: url(img/history.png);
  background-position: center;
  background-size: cover;
  /* height: auto; */
  padding: 150px 0;
}
.istorija hgroup h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.istorija hgroup p {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
/* oblast rada */

.oblastRada hgroup {
  background: url(img/cime\ se\ bavimo.png);
  background-size: 450px !important;
}
.oblastRada hgroup h2 {
  padding-top: 32px !important;
}

.oblastRada .row {
  padding-bottom: 70px;
}

.oblastRada article {
  text-align: center;
  margin-bottom: 50px;
}
.oblastRada .col-sm-6 {
  min-width: 250px;
}
.oblastRada article {
  position: relative;
}
.toggle:checked ~ .myCard {
  transform: rotateY(-180deg);
}
.toggle {
  display: none;
}

.oblastRada .myCard {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in;
  transform-style: preserve-3d;
}
.oblastRada article .myCard .wrapper {
  min-height: 350px;
  padding: 20px 20px;
  position: relative;
  background: white;
}
.oblastRada article .myCard .wrapper-back {
  min-height: 350px;
  width: 90%;
  height: 100%;
  padding: 20px 20px;
  position: absolute;
  background: white;
  top: 0;
  left: 15px;
  transform: rotateY(-180deg);
}
.flipCard {
  transform: rotateY(-180deg);
}
.wrapper,
.wrapper-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.oblastRada article label {
  position: absolute;
  bottom: -25px;
  left: 29%;
}
.oblastRada article img {
  width: 30% !important;
  height: auto !important;
}

/* zasto mi */

.zastoMi {
  background: var(--gray);
}
.zastoMi hgroup {
  background: url(img/performance.png);
}
.zastoMi hgroup h2 {
  font-weight: 500;
  font-size: 2.2rem;
  padding-top: 30px !important;
}
.zastoMi article img {
  padding-right: 30px;
  /* padding-bottom: 100px; */
}
.zastoMi article h3::after {
  margin: 15px 0 !important;
}
.zastoMi article p {
  margin-bottom: 35px !important;
}
.zastoMi article a {
  padding-bottom: 35px;
}
.zastoMi article button {
  width: 203px;
}
.zastoMi article button:hover {
  background: transparent;
}
.zastoMi article {
  padding-bottom: 100px;
}

/* BES */

.bes {
  background: var(--blue);
  padding: 50px 0;
}
.bes article h3::after {
  background: white;
  margin: 20px 0;
}

.bes article form input,
textarea {
  background: var(--blue);
  border: 1px solid white;
  margin-bottom: 20px;
  color: white;
  padding: 4px 5px;
}
.bes article form button {
  width: max-content;
  padding: 5px 25px;
  background: white;
  border: 1px solid white;
  color: var(--blue);
}
.bes article form button:hover {
  color: white;
  transition: var(--transition);
  background: transparent;
}
/* counter */
.counter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/counter.png);
  background-position: center;
  background-size: cover;
  height: 35vh;
}
.counter hgroup {
  border: 1px solid var(--blue);
  padding: 40px;
  background: rgba(0, 0, 0, 0.226);
}
.counter hgroup p {
  margin-bottom: 0;
}
/* Gostovanja */

.gostovanja hgroup {
  background: url(img/Medija.png);
}
.gostovanja hgroup h2 {
  padding-bottom: 30px !important;
}

.gostovanja .item .date {
  background: var(--blue);
  color: white;
  display: inline-block;
  padding: 0px 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: opx;
}
.gostovanja .item .date h4 {
  font-weight: 700;
  font-size: 1.4rem;
}
.gostovanja .item .date p {
  margin-bottom: 0px !important;
  color: white;
  text-decoration: none;
  font-style: normal;
}

button:focus {
  outline: none !important;
}
.owl-theme .owl-nav {
  font-size: 4rem;
  color: var(--lightText);
}

.gostovanja .item p {
  font-size: 0.95rem;
  font-style: italic;
  text-decoration: underline;
  color: var(--lightText);
}
.gostovanja .item p.description {
  color: var(--blue);
  margin-bottom: 0 !important;
}
/* .gostovanja .item a:hover {
  text-decoration: none;
  color: var(--textColor);
  transition: var(--transition);
} */
/* nasli klijenti */
.nasiKlijenti {
  background: var(--gray);
  padding: 50px 0 80px 0;
}
.nasiKlijenti h2.text-center {
  padding-bottom: 50px;
}
/* footer */
footer {
  background: var(--deepGray);
}
footer .row {
  padding: 80px 0;
}
footer .container .row article {
  min-height: 150px;
}
footer article p,
footer article a {
  color: var(--lightText);
}
footer article h4,
footer article h5,
footer article h6 {
  color: var(--blue);
}
footer article hgroup {
  margin-bottom: 20px;
}
footer article hgroup h5 {
  font-size: 1.09rem;
}
footer article hgroup h4 {
  letter-spacing: 4px;
}
footer article p {
  margin-bottom: 0;
}
footer article .workHours p span {
  color: var(--blue);
  font-weight: 600;
}
footer article h6 {
  padding-bottom: 1rem;
}
footer article:last-child span {
  color: white;
}
footer .bottomBar p {
  margin-bottom: 0 !important;
  color: white;
  font-weight: 500;
  padding: 20px 0;
}
footer hr {
  border: 1px solid var(--blue);
  margin: 0 !important;
}
footer .bottomBar {
  background: var(--deepGray) !important;
}

/* ADVOKATI */

.advokati hgroup {
  background-image: url(img/Naš\ tim.png);
}

.container-1 {
  width: 80%;
  margin: 0 auto;
}
.row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  flex-wrap: wrap;
}
.advokati .advokatCard {
  display: flex;
  height: 220px !important;

  flex: 0 0 47%;
}

.advokati .advokatCard .advokat-1 {
  background-image: url(img/advokat_1.png);
}
.advokati .advokatCard .advokat-2 {
  background-image: url(img/advokat_2.png);
}
.advokati .advokatCard .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  flex: 0 0 30%;
}
.advokati .text {
  background-color: var(--gray);
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px 20px 20px 50px;
}
.advokati .text h3 {
  font-size: 1.5rem;
}
.advokati .text p {
  font-size: 0.9rem;
}

.nasiKlijenti .col-lg-2 img {
  mix-blend-mode: darken;
}
.nasiKlijenti hgroup h2 {
  margin-bottom: 35px !important;
  font-weight: 500;
}
.nasiKlijenti hgroup p {
  margin-bottom: 35px !important;
  line-height: 2;
}

/* kontakt */

.kontakt hgroup {
  background: url(img/Kako\ do\ nas.png);
  background-size: 330px;
}
.row-2 {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.kontakt .row-2 .map {
  flex: 0 0 64%;
}
.kontakt .row-2 .kanc {
  flex: 0 0 34%;
}
.kontakt .row-2 .kanc img {
  width: 100%;
}
.kontakt .map .map-responsive {
  overflow: hidden;
  padding-bottom: 10%;
  position: relative;
  height: 100%;
}

.kontakt .map .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.info p span {
  color: var(--blue);
}
.info .row-2 .col-md-5,
.info .row-2 .col-sm-4,
.info .row-2 .col-1 {
  padding: 0 !important;
}
.info .row-2 hr {
  width: 100%;
}
/* RESPONISVE */

@media (max-width: 1200px) {
  .services article .wrapper h4 {
    font-size: 0.95rem !important;
  }
  .services .wrapper {
    min-width: 140px;
  }

  .btn-blue:hover {
    background: white;
    transition: var(--transition);
    color: var(--blue);
  }
  .oblastRada article label {
    left: 26%;
  }
  .zastoMi footer .row {
    width: 95% !important;
    margin: 0 auto !important;
    justify-content: space-between !important;
  }

  /* advokati */
  .advokati .row-1 .advokatCard {
    flex: 0 0 100%;
  }
  .advokati .row-1 .advokatCard:first-child {
    margin-bottom: 80px;
  }
  .advokati .advokatCard .img {
    flex: 0 0 20%;
  }
  .advokati .advokatCard .advokat-2 {
    order: 1;
  }
  .advokati .advokatCard .text {
    flex: 0 0 80%;
  }

  .advokati footer h5 {
    font-size: 0.85rem !important;
    /* text-align: center; */
    letter-spacing: 1px;
  }
  footer hgroup h4 {
    /* text-align: center; */
    font-size: 1.3rem;
    letter-spacing: 4px !important;
  }
  footer .container .row article:last-child {
    min-height: 50px;
    justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  nav .navbar-nav {
    margin-left: 10% !important;
    padding-left: 5% !important;
  }
  .nav-link:first-child,
  .nav-link:nth-child(3) {
    border: none;
    padding: 0.7rem 1rem !important;
  }

  .nav-item:last-child {
    display: none;
  }

  .oblastRada .row {
    justify-content: center !important;
  }
  .oblastRada .row .col-sm-6 {
    min-width: 300px !important;
  }
  .oblastRada article label {
    left: 24%;
  }

  .advokati .row-1 .advokatCard .img {
    flex: 0 0 25% !important;
  }
  .advokati .row-1 .advokatCard .text {
    flex: 0 0 75% !important;
  }
}
@media (max-width: 768px) {
  .oblastRada .row .col-sm-6 {
    min-width: 270px !important;
  }
  .oblastRada article label {
    left: 20%;
  }
  .zastoMi article:first-child {
    padding-bottom: 50px;
  }
  .advokati .row-1 .advokatCard .img {
    flex: 0 0 35% !important;
  }
  .advokati .row-1 .advokatCard .text {
    flex: 0 0 65% !important;
  }
  .kontakt .row-2 .map {
    flex: 0 0 100%;
    height: 350px;
    padding: 20px;
  }
  .kontakt .row-2 .kanc {
    flex: 0 0 100%;

    padding: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .oblastRada .row article img {
    width: auto !important;
  }
  .oblastRada article .wrapper {
    min-height: 250px;
  }
  .oblastRada article label {
    position: absolute;
    bottom: -15px;
    left: 35%;
  }
  /* advokati */

  footer,
  footer .workHours {
    text-align: center !important;
  }
  footer article:first-child {
    justify-content: center !important;
  }
  footer article {
    margin-bottom: 30px;
  }
  .advokati .row-1 .advokatCard .img {
    display: none;
  }
  .advokati .row-1 .advokatCard .text {
    flex: 0 0 100% !important;
  }
  .kontakt .row-2 .map {
    flex: 0 0 100%;
    height: 200px;
    padding: 20px;
  }
}
